[Unit]
Description=Periodic Clash Proxy traffic statistics collection
Documentation=file:/root/clash_proxy/README.md

[Timer]
Unit=clash-proxy-traffic-collector.service
OnBootSec=30s
OnUnitActiveSec=30s
AccuracySec=5s
Persistent=true

[Install]
WantedBy=timers.target
